@import "../../variables/style";

.Input {
  border-bottom: 1px solid $gray-light !important; //TODO: Remove important
  box-shadow: 0 1px 0 0 $gray-light !important; //TODO: Remove important
  & + label {
    color: $gray-light!important; //TODO: Remove important
  }

  &:focus {
    border-bottom: 1px solid $brand-primary !important; //TODO: Remove important
    box-shadow: 0 1px 0 0 $brand-primary !important; //TODO: Remove important
    & + label {
      color: $brand-primary!important; //TODO: Remove important
    }
  }
}
