@import "../../variables/style";
@import "../../variables/mixins";

html, body {
  margin: 0;
  padding: 0;
  background: $body-bg;
}

img {
  max-width: 100%;
}

.App {
  padding: 0;
  margin: 0;

  .page {
    margin: 20px 0 0 100px;
  }

  .page_transition_enter {
    opacity: 0.01;
  }

  .page_transition_enter.page_transition_enter_active {
    opacity: 1;
    @include transition(all 500ms ease-in);
  }

  .page_transition_leave {
    opacity: 1;
  }

  .page_transition_leave.page_transition_leave_active {
    opacity: 0.01;
    @include transition(all 300ms ease-in);
  }

  .page_transition_appear {
    opacity: 0.01;
  }

  .page_transition_appear.page_transition_appear_active {
    opacity: 1;
    @include transition(all .5s ease-in);
  }
}
