$gray-base: #000 !default;
$gray-darker: #1E1E1E !default;
$gray-dark: #3A3F44 !default;
$gray: #666666 !default;
$gray-light: #7A8288 !default;
$gray-lighter: #e0e0e0 !default;

$brand-primary: #016DBA !default;
$brand-success: #62c462 !default;
$brand-info: #5bc0de !default;
$brand-warning: #f89406 !default;
$brand-danger: #ee5f5b !default;

$body-bg: $gray-lighter !default;
$panel-bg: $gray-darker !default;
$btn-bg: $gray-darker !default;

$text-color: #C8C8C8 !default;

$link-color: #fff !default;

$link-hover-color: #fff !default;
