@import "../../variables/style";

.Button {
  margin: 5px 5px 0 0;
  background-color: $btn-bg;
  box-shadow: 0 2px 2px 0 lighten($brand-primary, 14%), 0 1px 5px 0 lighten($brand-primary, 12%), 0 3px 1px -2px lighten($brand-primary, 20%);
  &:hover {
    background-color: darken($brand-primary, 10%);
    box-shadow: 0 3px 3px 0 lighten($brand-primary, 14%), 0 1px 7px 0 lighten($brand-primary, 12%), 0 3px 1px -1px lighten($brand-primary, 20%);
  }
  &:focus {
    background-color: darken($brand-primary, 20%);
  }
}
